html,
body {
  background: #ffffff;

  height: 100vh;

  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

div {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.alice {
  margin: auto;

  font-size: min(10vh, 10vw);
  font-family: monospace;
}
