
html, body {
  position: relative;
  
  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;

  overflow: hidden;
}

a, a:link, a:visited, a:hover, a:active {
  color: unset;
  text-decoration: none;
}

.k, .i, .e, .ee, .x, .h, .hh, .hch {
  position: fixed;
}

.k {
  bottom: 99%;
  left: 100%;

  transform: translateY(-10%);

  font-size: 0.01vh;
}

.i {
  top: 50%;
  left: 50%;

  font-size: 40vh;

  transform: translate(-50%, -50%);
}

.e {
  top: 50%;
  left: 25%;

  font-size: 37vh;

  transform: translate(-50%, -50%);
}

.ee {
  top: 27%;
  right: 29%;

  font-size: 40vh;
}

.x {
  bottom: 10%;
  left: 40%;

  font-size: 25vh;

  transform: translateX(-50%);
}

.h {
  top: 1%;
  left: 50%;
}

.hh {
  top: 2%;
  left: 40%;
}

.hch {
  top: 3%;
  left: 30%;
}

